<section class="vbox">
    <section class="w-f-md scrollable padder-lg" id="scrollchat">
        <h2 class="font-thin m-b">{{ community.name }}</h2>
        <section class="chat-list" >

            <article ng-repeat="chat in chats" id="chat-id-1" class="" ng-class="{'chat-item right': currentUser._id == chat._user._id, 'chat-item left': currentUser._id != chat._user._id}"><a href="#"
                                                              class="thumb-sm avatar" ng-class="{'pull-right': currentUser._id == chat._user._id, 'pull-left': currentUser._id != chat._user._id}"><img
                    ng-src="{{ chat._user.avatar.thumb }}" alt="..."></a>
                <section class="chat-body">
                    <div class="panel text-sm m-b-none" ng-class="{'bg-light': currentUser._id == chat._user._id, 'b-light': currentUser._id != chat._user._id}">
                        <div class="panel-body"><span class="arrow" ng-class="{'right': currentUser._id == chat._user._id, 'left': currentUser._id != chat._user._id}"></span>

                            <p class="m-b-none">{{ chat.message }}</p>
                            <p ng-if="chat.image.thumb" class="m-b-none"><img width="50%" ng-src="{{ chat.image.thumb }}"></p>
                            <p ng-show="currentUser._id == chat._user._id"> <i class="text-info" ng-class="{ 'fa fa-circle': chat.issend == true, 'fa fa-circle-o': chat.issend == false }"></i> </p>
                        </div>
                    </div>
                    <small class="text-muted"><i class="fa fa-ok text-success"></i> {{ chat.created_at | date:'medium' }}
                    </small>
                </section>
            </article>

        </section>
    </section>
    <footer class="footer footer-md" style="padding: 0;">
        <form ng-submit="send(message)" class="" role="search">
            <div class="form-group clearfix m-b-none">
                <footer class="panel-footer"> <!-- chat form -->
                    <article class="chat-item" id="chat-form"><a class="pull-left thumb-sm avatar"><img
                            ng-src="{{ currentUser.avatar.thumb }}" class="img-circle" alt="..."></a>
                        <section class="chat-body">
                            <form action="index.html" class="m-b-none">
                                <div class="input-group">
                                    <input ng-model="message" type="text" class="form-control" placeholder="Say something" id="inputchat">
                                    <span class="input-group-btn">
                                        <span class="btn btn-default btn-file">
                                            <i class="icon-picture"></i>
                                             <input id="imagefile" type="file" />
                                        </span>
                                    </span>
                                </div>
                            </form>
                        </section>
                    </article>
                </footer>
            </div>
        </form>
    </footer>
</section>