<section class="vbox">
    <section id="bjax-target">
        <section class="hbox stretch">
            <!-- side content -->
            <aside class="aside bg-light dk" id="sidebar">
                <section class="vbox animated fadeInUp">
                    <section class="scrollable hover">
                        <ul class="list-group list-group-lg no-bg auto m-b-none m-t-n-xxs">

                            <li class="list-group-item clearfix" ng-repeat="community in communities">
                                <a href class="pull-left thumb-sm m-r" ui-sref="app.communities.chat({id: community._id})">
                                    <img ng-if="!community.image" ng-src="images/m0.jpg" alt="...">
                                    <img ng-if="community.image" ng-src="{{ community.image }}" alt="...">
                                    <span
                                    class="badge badge-sm up absolute bg-danger count">4</span> </a>
                                <a class="clear" href ui-sref="app.communities.chat({id: community._id})"> <span class="block text-ellipsis">{{ community.name }}</span>
                                <small class="text-muted">{{ community.description }}</small>
                            </a>
                            </li>


                        </ul>
                    </section>
                </section>
            </aside>
            <!-- / side content -->
            <section ui-view>
               <div class="text-center">Please select a chat to start messaging</div>
            </section>

            <aside class="aside-md bg-light dk" id="sidebar">
                <section class="vbox animated fadeInRight">
                    <section class="scrollable hover">
                        <h4 class="font-thin m-l-md m-t">Connected</h4>
                        <ul class="list-group no-bg no-borders auto m-t-n-xxs">
                            <li class="list-group-item">
                      <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
                        <img src="images/a1.png" alt="..." class="img-circle">
                        <i class="on b-light right sm"></i>
                      </span>

                                <div class="clear">
                                    <div><a href="#">Chris Fox</a></div>
                                    <small class="text-muted">New York</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                      <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
                        <img src="images/a2.png" alt="...">
                        <i class="on b-light right sm"></i>
                      </span>

                                <div class="clear">
                                    <div><a href="#">Amanda Conlan</a></div>
                                    <small class="text-muted">France</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                      <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
                        <img src="images/a3.png" alt="...">
                        <i class="busy b-light right sm"></i>
                      </span>

                                <div class="clear">
                                    <div><a href="#">Dan Doorack</a></div>
                                    <small class="text-muted">Hamburg</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                      <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
                        <img src="images/a4.png" alt="...">
                        <i class="away b-light right sm"></i>
                      </span>

                                <div class="clear">
                                    <div><a href="#">Lauren Taylor</a></div>
                                    <small class="text-muted">London</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                      <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
                        <img src="images/a5.png" alt="..." class="img-circle">
                        <i class="on b-light right sm"></i>
                      </span>

                                <div class="clear">
                                    <div><a href="#">Chris Fox</a></div>
                                    <small class="text-muted">Milan</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                      <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
                        <img src="images/a6.png" alt="...">
                        <i class="on b-light right sm"></i>
                      </span>

                                <div class="clear">
                                    <div><a href="#">Amanda Conlan</a></div>
                                    <small class="text-muted">Copenhagen</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                      <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
                        <img src="images/a7.png" alt="...">
                        <i class="busy b-light right sm"></i>
                      </span>

                                <div class="clear">
                                    <div><a href="#">Dan Doorack</a></div>
                                    <small class="text-muted">Barcelona</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                      <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
                        <img src="images/a8.png" alt="...">
                        <i class="away b-light right sm"></i>
                      </span>

                                <div class="clear">
                                    <div><a href="#">Lauren Taylor</a></div>
                                    <small class="text-muted">Tokyo</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                      <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
                        <img src="images/a9.png" alt="..." class="img-circle">
                        <i class="on b-light right sm"></i>
                      </span>

                                <div class="clear">
                                    <div><a href="#">Chris Fox</a></div>
                                    <small class="text-muted">UK</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                      <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
                        <img src="images/a1.png" alt="...">
                        <i class="on b-light right sm"></i>
                      </span>

                                <div class="clear">
                                    <div><a href="#">Amanda Conlan</a></div>
                                    <small class="text-muted">Africa</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                      <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
                        <img src="images/a2.png" alt="...">
                        <i class="busy b-light right sm"></i>
                      </span>

                                <div class="clear">
                                    <div><a href="#">Dan Doorack</a></div>
                                    <small class="text-muted">Paris</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                      <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
                        <img src="images/a3.png" alt="...">
                        <i class="away b-light right sm"></i>
                      </span>

                                <div class="clear">
                                    <div><a href="#">Lauren Taylor</a></div>
                                    <small class="text-muted">Brussels</small>
                                </div>
                            </li>
                        </ul>
                    </section>

                </section>
            </aside>
            <!-- / side content -->
        </section>
    </section>
</section>