    <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>

    <div class="modal-body">

        <form class="bs-example form-horizontal" >

            <div class="form-group">
                <label class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    <input ng-model="cm.name" type="text" class="form-control" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Description</label>
                <div class="col-lg-10">
                    <textarea ng-model="cm.description" rows="3" class="form-control" placeholder="Description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Image</label>
                <div class="col-lg-10">
                    <input type="file" ng-file-select="onFileSelect($files)">
                </div>
            </div>

        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="create(cm)">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>

