<section id="content" class="m-t-lg wrapper-md animated fadeInDown">
    <div class="container aside-xl">
        <a class="navbar-brand block" href="index.html"><span class="h1 font-bold">Musik</span></a>
        <section class="m-b-lg">
            <header class="wrapper text-center">
                <strong>Sign up to find interesting thing</strong>
            </header>
            <form ng-submit="signup(user)">
                <div class="form-group">
                    <input ng-model="user.name" placeholder="Name"
                           class="form-control rounded input-lg text-center no-border">
                </div>
                <div class="form-group">
                    <input ng-model="user.email" type="email" placeholder="Email"
                           class="form-control rounded input-lg text-center no-border">
                </div>
                <div class="form-group">
                    <input ng-model="user.password" type="password" placeholder="Password"
                           class="form-control rounded input-lg text-center no-border">
                </div>
                <div class="checkbox i-checks m-b">
                    <label class="m-l">
                        <input type="checkbox" checked=""><i></i> Agree the <a href="#">terms and policy</a>
                    </label>
                </div>
                <button type="submit" class="btn btn-lg btn-warning lt b-white b-2x btn-block btn-rounded"><i
                        class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">Sign up</span></button>
                <a href ng-click="auth()" class="btn btn-lg btn-primary lt b-white b-2x btn-block btn-rounded"><i
                        class="fa fa-fw fa-facebook pull-right"></i><span class="m-r-n-lg">Facebook</span></a>
                <div class="line line-dashed"></div>
                <p class="text-muted text-center">
                    <small>Already have an account?</small>
                </p>
                <a href="/#/signin" class="btn btn-lg btn-info btn-block btn-rounded">Sign in</a>
            </form>
        </section>
    </div>
</section>