.background-cover {
    background-repeat:no-repeat;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    background-size:cover;

}

.badge.up.absolute{
    position: absolute;
    top: 10px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}