<!DOCTYPE html>
<html lang="en" class="app" ng-app="app" ng-controller="AppController">
<head>
  <meta charset="utf-8" />
  <title>Musik | Web Application</title>
  <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="./js/jPlayer/jplayer.flat.css" type="text/css" />
  <link rel="stylesheet" href="./css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="./css/animate.css" type="text/css" />
  <link rel="stylesheet" href="./css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="./css/simple-line-icons.css" type="text/css" />
  <link rel="stylesheet" href="./css/font.css" type="text/css" />
  <link rel="stylesheet" href="./css/app.css" type="text/css" />
  <link rel="stylesheet" href="./css/custom.css" type="text/css" />
  <!--[if lt IE 9]>
  <script src="./js/ie/html5shiv.js"></script>
  <script src="./js/ie/respond.min.js"></script>
  <script src="./js/ie/excanvas.js"></script>
  <![endif]-->
</head>
<body class="">

<ui-view></ui-view>

<script src="/socket.io/socket.io.js"></script>
<script src="./vendor/socket.io-stream.js"></script>
<script src="./js/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="./js/bootstrap.js"></script>

<!-- shim is needed to support upload progress/abort for HTML5 and non-HTML5 FormData browsers.-->
<!-- angular-file-upload-html5-shim.js could be used instead of angular-file-upload-shim if your app
targets HTML5 browsers only (not IE8-9) -->
<!-- Note: shim.js MUST BE PLACED BEFORE angular.js and angular-file-upload.js AFTER angular.js-->
<script src="./vendor/angular-upload/angular-file-upload-shim.min.js"></script>

<!-- Angular -->
<script src="./vendor/angular/angular.min.js"></script>
<script src="./vendor/angular/angular-cookies.min.js"></script>
<script src="./vendor/angular/angular-animate.min.js"></script>
<script src="./vendor/angular/angular-ui-router.min.js"></script>
<script src="./vendor/angular/angular-resource.min.js"></script>
<script src="./vendor/angular/ngStorage.min.js"></script>
<script src="./vendor/angular/ui-bootstrap-tpls.min.js"></script>
<script src="./vendor/angular-upload/angular-file-upload.min.js"></script>



<!-- App -->
<script src="./js/app.js"></script>
<script src="./js/slimscroll/jquery.slimscroll.min.js"></script>
<script src="./js/app.plugin.js"></script>

<script src="./js/custom.js"></script>

<script src="./scripts/app.js"></script>
<script src="./scripts/services.js"></script>
<script src="./scripts/controllers.js"></script>
<script src="./scripts/directives.js"></script>




<script type="text/javascript" src="js/jPlayer/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="js/jPlayer/add-on/jplayer.playlist.min.js"></script>
<script type="text/javascript" src="js/jPlayer/demo.js"></script>
</body>
</html>