<section class="vbox">
    <section class="scrollable wrapper-lg">
        <div class="" style="max-width: 990px; margin: 0 auto;">
            <div class="row">
            <div class="col-sm-8">

                <div class="m-b">
                <div class="wrapper background-cover" style="padding: 0; border:none; color: #58666e; background-image: url({{profile.facebook.cover}})">
                    <div class="wrapper" style="background-color: rgba(255,255,255,0.5)">
                    <div class="text-center m-b m-t"><a href="#" class="thumb-lg"> <img ng-src="{{ profile.avatar.original }}"
                                                                                        class="img-circle"> </a>

                        <div>
                            <div class="h3 m-t-xs m-b-xs">{{ profile.name }}</div>
                            <small class="text-muted"><i class="fa fa-map-marker"></i> {{ profile.hometown }} </small>
                            <p class="m-t-sm"><a href="#" class="btn btn-rounded btn-twitter btn-icon"><i
                                    class="fa fa-twitter"></i></a> <a href="#"
                                                                      class="btn btn-rounded btn-facebook btn-icon"><i
                                    class="fa fa-facebook"></i></a> <a href="#"
                                                                       class="btn btn-rounded btn-gplus btn-icon"><i
                                    class="fa fa-google-plus"></i></a></p>
                            <div class="btn-group btn-group-justified m-b" style="width: 50%; margin: 0 auto;"><a class="btn btn-success btn-rounded"
                                                                              data-toggle="button"> <span class="text"> <i
                                    class="fa fa-eye"></i> Follow </span> <span class="text-active"> <i class="fa fa-eye"></i> Following </span>
                            </a> <a class="btn btn-dark btn-rounded"> <i class="fa fa-comment-o"></i> Chat </a></div>
                        </div>
                    </div>

                </div>
                </div>

                    <div class="wrapper bg-white b-b">
                        <ul class="nav nav-pills nav-sm">
                            <li class="active"><a href="">Stream</a></li>
                            <li><a href="">Profile</a></li>
                            <li><a href="">Messages</a></li>
                        </ul>
                    </div>

                </div>



                <section class="comment-list block">
                    <article id="comment-id-1" class="comment-item"><a class="pull-left thumb-sm avatar"> <img
                            src="images/a1.png" class="img-circle" alt="..."> </a> <span class="arrow left"></span>
                        <section class="comment-body panel panel-default">
                            <header class="panel-heading bg-white"><a href="#">John smith</a> <label
                                    class="label bg-info m-l-xs">Editor</label> <span
                                    class="text-muted m-l-sm pull-right"> <i class="fa fa-clock-o"></i> Just now </span>
                            </header>
                            <div class="panel-body">
                                <div>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut laoreet.
                                </div>
                                <div class="comment-action m-t-sm"><a href="#" data-toggle="class"
                                                                      class="btn btn-default btn-xs active"> <i
                                        class="fa fa-star-o text-muted text"></i> <i
                                        class="fa fa-star text-danger text-active"></i> Like </a> <a
                                        href="#comment-form" class="btn btn-default btn-xs"> <i
                                        class="fa fa-mail-reply text-muted"></i> Reply </a></div>
                            </div>
                        </section>
                    </article>
                    <!-- .comment-reply -->
                    <article id="comment-id-2" class="comment-item comment-reply"><a class="pull-left thumb-sm avatar">
                        <img src="images/a8.png" alt="..."> </a> <span class="arrow left"></span>
                        <section class="comment-body panel panel-default text-sm">
                            <div class="panel-body"><span class="text-muted m-l-sm pull-right"> <i
                                    class="fa fa-clock-o"></i> 10m ago </span> <a href="#">Mika Sam</a> <label
                                    class="label bg-dark m-l-xs">Admin</label> Report this comment is helpful
                            </div>
                        </section>
                    </article>
                    <!-- / .comment-reply -->
                    <article id="comment-id-3" class="comment-item"><a class="pull-left thumb-sm avatar"><img
                            src="images/a9.png" alt="..."></a> <span class="arrow left"></span>
                        <section class="comment-body panel panel-default">
                            <header class="panel-heading"><a href="#">By me</a> <label class="label bg-success m-l-xs">User</label>
                                <span class="text-muted m-l-sm pull-right"> <i class="fa fa-clock-o"></i> 1h ago </span>
                            </header>
                            <div class="panel-body">
                                <div>This comment was posted by you.</div>
                                <div class="comment-action m-t-sm"><a href="#comment-id-3" data-dismiss="alert"
                                                                      class="btn btn-default btn-xs"> <i
                                        class="fa fa-trash-o text-muted"></i> Remove </a></div>
                            </div>
                        </section>
                    </article>
                    <article id="comment-id-4" class="comment-item"><a class="pull-left thumb-sm avatar"><img
                            src="images/a5.png" alt="..."></a> <span class="arrow left"></span>
                        <section class="comment-body panel panel-default">
                            <header class="panel-heading"><a href="#">Peter</a> <label class="label bg-primary m-l-xs">Vip</label>
                                <span class="text-muted m-l-sm pull-right"> <i
                                        class="fa fa-clock-o"></i> 2hs ago </span></header>
                            <div class="panel-body">
                                <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                                    erat a ante.</p>
                                    <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                                </blockquote>
                                <div>Lorem ipsum dolor sit amet, consecteter adipiscing elit...</div>
                                <div class="comment-action m-t-sm"><a href="#" data-toggle="class"
                                                                      class="btn btn-default btn-xs"> <i
                                        class="fa fa-star-o text-muted text"></i> <i
                                        class="fa fa-star text-danger text-active"></i> Like </a> <a
                                        href="#comment-form" class="btn btn-default btn-xs"><i
                                        class="fa fa-mail-reply text-muted"></i> Reply</a></div>
                            </div>
                        </section>
                    </article>
                    <!-- comment form -->
                    <article class="comment-item media" id="comment-form"><a class="pull-left thumb-sm avatar"><img
                            src="images/a6.png" alt="..."></a>
                        <section class="media-body">
                            <form action="index.html" class="m-b-none">
                                <div class="input-group"><input type="text" class="form-control"
                                                                placeholder="Input your comment here"> <span
                                        class="input-group-btn"> <button class="btn btn-primary" type="button">POST
                                </button> </span></div>
                            </form>
                        </section>
                    </article>
                </section>


            </div>
            <div class="col-sm-4">
                <h5 class="font-bold">Categories</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="#">
                            <span class="badge pull-right">15</span>
                            Photograph
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <span class="badge pull-right">30</span>
                            Life style
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <span class="badge pull-right">9</span>
                            Food
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <span class="badge pull-right">4</span>
                            Travel world
                        </a>
                    </li>
                </ul>
                <div class="tags m-b-lg l-h-2x">
                    <a href="#" class="label bg-primary">Bootstrap</a> <a href="#"
                                                                          class="label bg-primary">Application</a> <a
                        href="#" class="label bg-primary">Apple</a> <a href="#" class="label bg-primary">Less</a> <a
                        href="#" class="label bg-primary">Theme</a> <a href="#" class="label bg-primary">Wordpress</a>
                </div>
                <h5 class="font-bold">Recent Posts</h5>

                <div>
                    <article class="media">
                        <a class="pull-left thumb thumb-wrapper m-t-xs">
                            <img src="images/m1.jpg">
                        </a>

                        <div class="media-body">
                            <a href="#" class="font-semibold">Bootstrap 3: What you need to know</a>

                            <div class="text-xs block m-t-xs"><a href="#">Travel</a> 2 minutes ago</div>
                        </div>
                    </article>
                    <div class="line"></div>
                    <article class="media m-t-none">
                        <a class="pull-left thumb thumb-wrapper m-t-xs">
                            <img src="images/m2.jpg">
                        </a>

                        <div class="media-body">
                            <a href="#" class="font-semibold">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit.</a>

                            <div class="text-xs block m-t-xs"><a href="#">Design</a> 2 hours ago</div>
                        </div>
                    </article>
                    <div class="line"></div>
                    <article class="media m-t-none">
                        <a class="pull-left thumb thumb-wrapper m-t-xs">
                            <img src="images/m3.jpg">
                        </a>

                        <div class="media-body">
                            <a href="#" class="font-semibold">Sed diam nonummy nibh euismod tincidunt ut laoreet</a>

                            <div class="text-xs block m-t-xs"><a href="#">MFC</a> 1 week ago</div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        </div>
    </section>
</section>
<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>